In [32]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import datetime 
import pickle

In [33]:
df = pd.read_csv("./data/Toy_data.csv")

In [34]:
df.rename(columns = {'Unnamed: 0':'Date'}, inplace = True)

In [35]:
df.shape

(8184, 22)

In [38]:
# Date control 

df['Date'] = df.Date.apply(lambda x : datetime.datetime.strptime(x, '%Y-%m-%d') )
df = df.set_index('Date')

In [39]:
# df = df.fillna(0)

In [40]:
df

,VIX Index,MOVE Index,MXWD Index,SBWGU Index,SPGSCI Index,.TED G Index,KOSPI2 Index,SPX Index,SX5E Index,NKY Index,...,HSI Index,MXWO000V Index,MXWOMOM Index,MXUS000V Index,MXUSMMT Index,MXUSQU Index,MXUSMVOL Index,DXY Curncy,GOLDLNPM Index,USYC2Y10 Index
Date,,,,,,,,,,,,,,,,,,,,,
1990-01-01,NaN,87.93,139.57,201.8721,207.2500,60.455929,NaN,353.40,1098.49,38915.87,...,2836.57,854.5,197.02,479.77,NaN,156.39,338.94,93.160,398.60,9.450
1990-01-02,17.24,91.73,140.01,201.8721,212.0900,57.420952,NaN,359.69,1101.34,38915.87,...,2838.07,854.5,197.02,479.77,NaN,156.39,338.94,94.250,399.00,5.450
1990-01-03,18.19,93.21,140.08,201.8721,215.6400,52.122430,100.00,358.76,1112.82,38915.87,...,2858.72,854.5,197.02,479.77,NaN,156.39,338.94,94.450,395.00,4.650
1990-01-04,19.22,95.09,140.59,201.8721,212.1400,49.158506,102.00,355.67,1113.02,38712.88,...,2867.95,854.5,197.02,479.77,NaN,156.39,338.94,92.540,396.50,6.150
1990-01-05,20.11,85.28,139.45,201.8721,206.9200,60.283372,100.38,352.20,1099.52,38274.76,...,2839.94,854.5,197.02,479.77,NaN,156.39,338.94,93.060,405.00,9.950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-07,16.69,54.13,710.36,1055.4940,523.0299,15.481000,428.56,4232.60,4034.25,29357.82,...,28610.65,3296.6,3212.25,3304.84,3672.89,3537.97,3425.33,90.233,1836.55,142.826
2021-05-10,19.66,55.48,706.50,1055.8360,520.8378,17.003500,435.63,4188.43,4023.35,29518.34,...,28595.66,3306.6,3144.34,3304.10,3576.80,3496.94,3429.26,90.212,1840.45,144.524
2021-05-11,21.84,58.01,698.42,1053.4370,524.4095,15.518000,428.77,4152.10,3946.06,28608.59,...,28013.81,3258.8,3128.57,3261.40,3584.62,3476.37,3398.58,90.141,1829.10,146.092
2021-05-12,27.59,58.47,686.77,1045.8950,526.6543,14.906000,421.86,4063.04,3947.43,28147.51,...,28231.04,3215.2,3042.59,3204.47,3473.44,3398.12,3341.99,90.713,1830.70,152.474
2021-05-13,23.13,56.59,688.54,1044.7910,511.5250,14.652600,416.07,4112.50,3952.45,27448.01,...,27718.67,3238.4,3045.29,3250.02,3483.57,3443.20,3385.25,90.752,1821.80,150.043

In [42]:
with open("./bench_dict.pkl", 'rb') as f:
    bench_dict = pickle.load(f)

(Timestamp('1993-02-01 00:00:00'), Timestamp('1993-02-26 00:00:00'))

In [63]:
past_duration = 400

st_ind = past_duration//30


last_t = bench_dict[st_ind-1][1]

past_days = 90

first_t = last_t - datetime.timedelta(days = past_days)
df_t = df[(df.index<=last_t) & (df.index>=first_t)]

X_input = []
past_days = 90
for i in range(st_ind, len(bench_dict)):
    last_t = bench_dict[i-1][1]
    first_t = last_t - datetime.timedelta(days = past_days)
    df_t = df[(df.index <= last_t) & (df.index >= first_t)]
    
    X_input.append(df_t)

In [72]:
len(X_input)

327

In [ ]:
X_input